In [34]:
import pandas as pd
import numpy as np

In [12]:
df.where(df['year'] in ['2014','2015','2016','2017','2018'], axis=)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [19]:
df = df[df['year'].isin(['2014','2015','2016','2017','2018'])]

In [20]:
df.head()

,year,position,artist,song,score,us,uk,de,fr,ca,au
1400,2014,1,Pharrell Williams,Happy,20344.488,1,1,1,1,1,1
1401,2014,2,John Legend,All Of Me,16173.143,1,2,13,4,1,1
1402,2014,3,Katy Perry,Dark Horse,14283.604,1,4,6,6,1,-
1403,2014,4,Clean Bandit & Jess Glynne,Rather Be,11392.179,10,1,1,2,13,2
1404,2014,5,Sam Smith,Stay With Me,11318.741,2,1,11,6,1,5

In [23]:
df = df.drop(['score', 'us', 'uk', 'de', 'fr', 'ca', 'au'], axis=1)

In [26]:
df = df.reset_index()

In [27]:
df.index += 1

In [32]:
df = df.drop('index', axis=1)

In [37]:
list_df = np.array_split(df, 3)

## DataFrame assignments

**Kerim**: index 0 of list_df
**Pau**: index 1 of list_df
**Emanuele**: index 2 of list_df

In [41]:
list_df[0].to_csv('kerim_songs.csv')
list_df[1].to_csv('pau_songs.csv')
list_df[2].to_csv('emanuele_songs.csv')